{% extends "base.html" %}
{% block content %}
<div class="row table-container">
    <div class="row-fluid">
    {% for message in form.user_id.errors %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in form.problem_id.errors %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in form.code.errors %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in form.language.errors %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in form.csrf_token.errors %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
        <div class="left-side col-lg-6">
            <div class="text-center">
                <h3>{{ problem.get_name(g.user) }}</h3>
                <p><b>Contest: </b><a href="{{ url_for('contest.show', contest_id=problem.contest.id) }}">{{ problem.contest.name }}</a></p>
            </div>
            {{ problem.get_content(g.user)|safe }}
        </div>
        <div class="right-side col-lg-6">
        {% if g.user and g.user.is_authenticated() %}
        <h3>Phần nhập code</h3>
        <a href="{{ url_for('howto') }}">Làm thế nào để submit code?</a>
        <hr>
        <form action="" method="POST">
        Chọn ngôn ngữ <select name="language" id="mode">
          {% for id, name in SUBMISSION.LANGUAGES.items() %}
          <option value="{{ id }}" mode="{{ SUBMISSION.CODEMIRROR_MODES[id] }}" mime="{{ SUBMISSION.CODEMIRROR_MIMES[id] }}">{{ name }}</option>
          {% endfor %}
        </select>
        <hr>
        <textarea name="code" id="codeArea" cols="30" rows="30"></textarea>
        <script>
        function htmlDecode(input){
          var e = document.createElement('div');
          e.innerHTML = input;
          return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
        }

        var editor = CodeMirror.fromTextArea(codeArea, {
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
        });

        editor.setSize(null, 800);

        var problem_show = true;

        editor.setValue(htmlDecode("{{ old_code }}"));

        $(document).ready(function() {
          editor.setOption("theme", "monokai");
          editor.setOption("mode", "{{ old_mime }}");
          CodeMirror.autoLoadMode(editor, "{{ old_mode }}");
          $('#mode').val($('#mode').find("[mime='{{ old_mime }}']").val());
          $("#toggle-pro").click(function() {
            console.log(problem_show);
            if (problem_show) {
              $(".left-side").hide();
              $(".right-side").addClass("col-lg-12");
              $(".right-side").removeClass("col-lg-6");
              problem_show = false;
            } else {
              $(".left-side").show();
              $(".right-side").addClass("col-lg-6");
              $(".right-side").removeClass("col-lg-12");
              problem_show = true;
            }
          });
        });

        $('#mode').change(function(){
          var opt = $('option:selected', this);
          editor.setOption("mode", opt.attr('mime'));
          CodeMirror.autoLoadMode(editor, opt.attr('mode'));
        });

        function selectTheme() {
          var theme = input.options[input.selectedIndex].textContent;
          editor.setOption("theme", "monokai");
          location.hash = "#" + theme;
        }

        var input = document.getElementById("select");
        var choice = (location.hash && location.hash.slice(1)) ||
                     (document.location.search &&
                      decodeURIComponent(document.location.search.slice(1)));
        if (choice) {
          input.value = choice;
          editor.setOption("theme", choice);
        }
        CodeMirror.on(window, "hashchange", function() {
          var theme = location.hash.slice(1);
          if (theme) { input.value = theme; selectTheme(); }
        });
         </script>
        {{ form.csrf_token }}
        <hr>
        {{ form.submit(class='btn btn-primary') }}
        <div id="toggle-pro" class="btn btn-primary">SHOW/HIDE PROBLEM</div>
        {{ form.user_id(value=g.user.id) }}
        {{ form.problem_id(value=problem.id) }}
        </form>
        {% endif %}
        </div>
    </div>
</div>
<hr>
{% if g.user and g.user.is_authenticated(): %}
<div class="col-lg-12  table-container">
    <div class="row-fluid">
    <h1>Submission Log</h1>
    <table class="table" id="submissions-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Problem</th>
        <th>Language</th>
        <th>State</th>
        <th>Result status</th>
        <th>Last passed test case</th>
        <th>Received point</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody>
        {% for submission in my_submissions: %}
        {% if submission.is_queued() %}
        <tr>
        {% elif submission.is_accepted() %}
        <tr class="info">
        {% else %}
        <tr class="danger">
        {% endif %}
            <td><a href="{{ url_for('submission.show', submission_id=submission.id) }}">{{ submission.id }}</a></td>
            <td>{{ submission.user.email }}</td>
          <td>
            <a href="{{ url_for('problem.show', problem_id=problem.id) }}">{{ problem.get_name(g.user) }}</a>
          </td>
          <td>
            {{ submission.get_language_name() }}
          </td>
          <td>
            <a href="{{ url_for('submission.show', submission_id=submission.id) }}">{{ submission.state }}</a>
          </td>
          <td>
            {{ submission.result_status }}
          </td>
          <td>
            {{ submission.last_passed_test_case }}
          </td>
          <td>
            {{ submission.received_point }}
          </td>
          <td>
            {{ submission.updated_at }}
          </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</div>
{% endif %}
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/clike/clike.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/ruby/ruby.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/php/php.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/javascript/javascript.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/go/go.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/perl/perl.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/addon/mode/loadmode.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/addon/edit/matchbrackets.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/addon/selection/active-line.js') }}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/3024-day.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/3024-night.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/abcdef.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/ambiance.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/base16-dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/bespin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/base16-light.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/blackboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/cobalt.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/colorforth.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/dracula.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/eclipse.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/elegant.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/erlang-dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/hopscotch.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/icecoder.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/isotope.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/lesser-dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/liquibyte.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/material.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/mbo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/mdn-like.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/midnight.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/monokai.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/neat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/neo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/night.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/paraiso-dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/paraiso-light.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/pastel-on-dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/railscasts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/rubyblue.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/seti.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/solarized.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/the-matrix.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/tomorrow-night-bright.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/tomorrow-night-eighties.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/ttcn.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/twilight.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/vibrant-ink.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/xq-dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/xq-light.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/yeti.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/theme/zenburn.css') }}">
{% endblock %}
