{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="row-fluid">
      <center><embed class="game-border" width="600" height="480" style="z-index:99" src="/static/files/{{ problem.content_en }}.swf"></center>
    </div>
</div>
<hr>
<div class="text-center table-container">
	<h3>{{ problem.get_name(g.user) }}</h3>
	<p><b>Contest: </b><a href="{{ url_for('contest.show', contest_id=problem.contest.id) }}">{{ problem.contest.name }}</a></p>
	{{ problem.get_content(g.user)|safe }}
</div>
{% endblock %}