{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/darkroom.min.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/vendor/fabric.js') }}"></script>
<script src="{{ url_for('static', filename='js/darkroom.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3">
    <img class="avatar img-circle" src="{{ g.user.avatar.first().get_url() }}" />
    <h4 class="user-name"><a href="{{ url_for('user.profile')}}">{{ g.user.name }}</a></h4>
    <img class="hgp" src="{{ url_for('static', filename='img/logo.png') }}" />
    <p>3650</p>
    <hr>
    <p>{{ g.user.name }}</p>
    <p>{{ g.user.email }}</p>
  </div>
  <div class="col-lg-9">
    <div class="page-content">
    	<h4>Crop it!</h4>
    	<p>A square avatar is always better. Crop your image and save it!</p>
    	<br>
			<div id="crop-image">
				<img src="{{ url }}" id="target">
			</div>
			<br>
			<form id="submit-form" method=POST enctype=multipart/form-data action="">
			    <input type="hidden" id="avatar" name="image" value="">
			    <button id="submit" class="btn btn-primary disabled" type="submit">Save</button>
			</form>
		</div>
  </div>
</div>
<script>
	new Darkroom('#target', {
	// Canvas initialization size
		minWidth: 100,
		minHeight: 100,
		maxWidth: 660,
		maxHeight: 660,

		// Plugins options
		plugins: {
			crop: {
				minHeight: 100,
				maxHeight: 1000,
				minWidth: 100,
				maxWidth: 1000,
				ratio: 1
			},
			rotate: false,
		},
	});

	$(document).ready(function() {
		var myVar = setInterval(function(){
			if ($('.darkroom-icon-save').parent().length != 0){
				$('.darkroom-icon-save').parent().click(function(event) {
					$('#submit').removeClass('disabled');
				});
				clearInterval(myVar);
			}
		}, 1000);
		$('#submit').click(function(event) {
			var src = $('#crop-image').children().first().attr('src');
			$('#avatar').val(src);
			$('submit-form').submit();
		});
	});
</script>
{% endblock %}
