{% extends "base.html" %}
{% block js %}
<script src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script>
{% endblock %}
{% block content %}
{% for message in form.avatar.errors %}
  <div class="alert alert-dismissible">{{ message }}</div>
{% endfor %}
{% for message in form.csrf_token.errors %}
  <div class="alert alert-dismissible">{{ message }}</div>
{% endfor %}
<div class="row">
  {% include "partials/left_profile.html" %}
  <div class="col-lg-9">
    <div class="page-content">
      <h3>Change your avatar</h3>
      <p>Please choose an image file to upload.</p>
      <p>Make you special! ^^</p>
      <form method=POST enctype=multipart/form-data action="{{ url_for('user.avatar_upload') }}">
      {{ form.avatar }}
      {{ form.hidden_tag() }}
      {{ form.submit(class='btn btn-lg btn-primary') }}
      </form>
    </div>
  </div>
</div>
<script>
$(function(){
  $('input[type=file]').attr('data-filename-placement', 'inside');
  $('input[type=file]').attr('title', 'Choose an image');
  $('input[type=file]').bootstrapFileInput();
});
</script>
{% endblock %}
