{% extends "base.html" %}
{% block content %}
<div class="row">
  {% include "partials/left_profile.html" %}
  <div class="col-md-9">
    <div class="page-content">
      <form role="form" action="{{ url_for('user.edit_profile') }}" method="POST">
        <h3>Edit Display Name</h3>
        <input name="name" type="text" class="form-control" value="{{ form.name.data }}" required autofocus>
        {{ form.hidden_tag() }}
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
