{% extends "base.html" %}
{% block content %}
{% for message in form.email.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
<div class="col-md-4 col-md-offset-4 col-sm-6">
	<form class="form-signin" role="form" action="{{ url_for('user.forgot_password') }}" method="POST">
	    <h4>Please enter your email</h4>
	    <input name="email" type="text" class="form-control" placeholder="Email" required autofocus>
	    {{ form.hidden_tag() }}
	    <br>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Resend</button>
	</form>
</div>
{% endblock %}
