{% extends "base.html" %}
{% block content %}
{% for message in form.email.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% for message in form.student_id.errors %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
<div class="col-md-4 col-md-offset-4 col-sm-6 user-form">
 	<div class="tile tile-login">
	  <form class="form-signup" role="form" action="" method="POST">
	    <input name="email" type="email" class="form-control" placeholder="Email address" required>
	    <input name="student_id" type="text" class="form-control" placeholder="Student ID" required>
	    {{ form.hidden_tag() }}
	    <br>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	  </form>
	</div>
</div>
{% endblock %}
