{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
  <h1><img alt="Terminal" src="{{ url_for('static', filename='images/logo.jpg') }}" width="100px">$ contest start</h1>
  <div class="table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Category</th>
                <th>Point</th>
            </tr>
        </thead>
        <tbody>
            {%- for problem in contest.problems -%}
            <tr>
                <td>
                    <a href="{{ url_for('problem.show', problem_id=problem.id) }}">{{ problem.get_name(g.user) }}</a>
                </td>
                <td>
                    {{ problem.get_rank_text() }}
                </td>
                <td>
                    {{ problem.get_category_text() }}
                </td>
                <td>
                    {{ problem.starting_point }}
                </td>
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
