<html>
  <head>
    {% if title %}
    <title>{{title}} - HUST Oshougatsu</title>
    {% else %}
    <title>HUST Oshougatsu</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="HUST Oshougatsu Team">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drunken-parrot.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/radio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toolbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <img alt="logo" class="logo" src="{{ url_for('static', filename='images/logo.jpg') }}" width="60px">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {%- for item in current_menu.children %}
              <li {% if item.active %}class="active"{% endif %}><a href="{{ item.url }}">{{ item.text }}</a></li>
            {% endfor -%}
            {% if g.user.is_authenticated() %}
              {% if g.user.is_admin() %}
              <li><a href="{{ url_for('user.my_submissions', page=1) }}">Submissions</a></li>
              <li><a href="{{ url_for('scoreboard') }}">Scoreboard</a></li>
              <li><a href="{{ url_for('admin') }}">Admin</a></li>
              <li><a href="{{ url_for('admin.index') }}">DB</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if g.user.is_authenticated() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.email }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('user.signup') }}">Sign up</a></li>
            <li><a href="{{ url_for('user.login') }}">Log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><!-- Fixed navbar -->
    <div class="main-container container">
    
    {% block flash %}
      <div class="row clearfix alert-row">
        <div class="col-md-12 column">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category != 'message' %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        {% else %}
          <div class="alert alert-danger alert-dismissible" role="alert">
        {% endif %}
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ message|safe }}
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
      </div>
    {% endblock %}
    <div class="row">
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
