{% extends "base.html" %}
{% block js %}
  <script src="{{ url_for('static', filename='prettify/prettify.js') }}"></script>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='prettify/prettify.css') }}">
{% endblock %}
{% block content %}
<h2>$ . example_of_submitting_code</h2>
<div class="row-fluid table-container">
<h3>Đề bài mẫu</h3>
<p>Viết chương trình tính tổng hai số.</p>
    <div>
      <dl>
        <dt>
          Input
        </dt>
        <dd>
          Một dòng duy nhất chứa hai số a và b, phân cách nhau bởi dấu cách.
        </dd><dt>
          Output
        </dt>
        <dd>
          In ra một số là tổng của a và b.
        </dd>
        <br>
<h3>Một vài test case mẫu</h3>
        <dd>
          <h5>input</h5>
          <pre>4 6</pre>
          <h5>output</h5>
          <pre>10</pre>
          <hr>
          <h5>input</h5>
          <pre>10 -10</pre>
          <h5>output</h5>
          <pre>0</pre>
        </dd>
      </dl>
    </div>
<h3>Ví dụ về code trên từng ngôn ngữ</h3>
Hãy đọc kỹ để biết cách nhập input và cách in ra output tiêu chuẩn cho từng ngôn ngữ. Output chỉ được chấp nhận khi nó hoàn toàn giống output của các test cases.
<h3>Python</h3>
<p>
<pre class="prettyprint">a, b = map(int, raw_input().split())
print a + b
</pre>
</p>
<h3>Ruby</h3>
<p>
<pre class="prettyprint">a, b = gets.split.map &:to_i
puts a + b
</pre>
</p>
<h3>C++</h3>
<p>
<pre class="prettyprint">#include &lt;iostream>
#include &lt;algorithm>

using namespace std;

int main()
{
  int a, b;
  cin >> a >> b;

  cout << (a +b);

  return 0;
}
</pre>
</p>
<h3>C</h3>
<p>
<pre class="prettyprint">
#include &lt;stdio.h>
#include &lt;stdlib.h>

int main() {
  int a;
  int b;
  scanf("%d", &a);
  scanf("%d", &b);

  printf("%d", a + b);

  return 0;
}
</pre>
</p>
<h3>Java</h3>
<span>Note: Please set your class name to <strong>Main</strong></span>
<p>
<pre class="prettyprint">import java.util.Scanner;

public class Main {
  public static void main(String args[]){
    Scanner sc = new Scanner(System.in);
    int a = sc.nextInt();
    int b = sc.nextInt();

    System.out.print(a + b);
  }
}
</pre>
</p>
<h3>PHP</h3>
<p>
<pre class="prettyprint">&lt;?php
$in = fopen("php://stdin", "r");
$in_string = fgets($in, 1000);
$params = explode(" ", $in_string);
$a = $params[0];
$b = $params[1];
echo $a + $b;
?>
</pre>
</p>
<h3>Go</h3>
<p>
<pre class="prettyprint">package main

import "fmt"

func main(){
  var a int
  var b int
  fmt.Scanf("%d", &a)
  fmt.Scanf("%d", &b)
  fmt.Printf("%d", a +b)
}
</pre>
</p>

<h3>Perl</h3>
<p>
<pre class="prettyprint">$line=&lt;STDIN>;
chomp $line;
($a, $b)= split / +/, $line;

print $a + $b;
</pre>
</p>

<h3>JavaScript (NodeJS)</h3>
<p>
<pre class="prettyprint">var readline = require('readline');
var rl = readline.createInterface({
  input: process.stdin,
  output: process.stdout,
  terminal: false
});

rl.on('line', function(line){
    var nums = line.split(" ");
    var a = parseInt(nums[0]);
    var b = parseInt(nums[1]);
    console.log(a +b);

    process.exit();
})
</pre>
</p>
</div>
</div>

<script>
  jQuery(document).ready(function($) {
    prettyPrint();
  });
</script>
{% endblock %}
