{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
  <h1>$ contest start</h1>
  <div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Tên bài</th>
                <th>Độ khó</th>
                <th>Thể loại</th>
                <th>Điểm</th>
            </tr>
        </thead>
        <tbody>
            {%- for problem in contest.problems -%}
            <tr>
                <td>
                    <a href="{{ url_for('problem.show', problem_id=problem.id) }}">{{ problem.get_name(g.user) }}</a>
                </td>
                <td>
                    {{ problem.get_rank_text() }}
                </td>
                <td>
                    {{ problem.get_category_text() }}
                </td>
                <td>
                    {{ problem.starting_point }}
                </td>
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
